
@import './css/scssVariable.scss';

.content{
  margin-top: 74px;
  // margin: 174px auto 0;
  // width: $contentWidth;
}
.content.ant-layout-content{
  // min-height: 1000px;
}
.footer{
  margin: 40px 0 20px;
  text-align: center;
}